# CVS default ignores begin
tags
TAGS
.make.state
.nse_depinfo
*~
#*
.#*
,*
_$*
*$
*.old
*.bak
*.BAK
*.orig
*.rej
.del-*
*.a
*.olb
*.o
*.obj
*.so
*.exe
*.Z
*.elc
*.ln
core
# CVS default ignores end
debs
dists
old
override
override.lock
.cvsignore
# Ignore distribution symlinks since they're created by fink and shouldn't be in the repo.
10.10
10.11
10.12
10.13
10.14
10.14.5
